body
{
    background-color: #da9c40;
    text-align: center;
}
.button 
{
    background-color: #ca6702;
    border: none;
    color: white;
    padding: 25px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 300px 90px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.a
{
    color: white

}
